:root {
    /*font-size*/
    --fs-h1: 65px;
    --fs-h2: 50px;
    --fs-h3: 35px;
    --fs-h4: 30px;
    --fs-h5: 25px;
    --fs-h6: 20px;
    --fs-ex-lg: 30px;
    --fs-ex: 20px;
    --fs-lg: 18px;
    --fs-md: 16px;
    --fs-sm: 15px;
    --fs-ex-sm: 12px
        /*colors*/
        --orange: #FF9C7D;
    --black: #000000;
    --bisque: #FFF8E4;
    --lightblu: #C9E8F2;
    --darkorange: #FF6336;
    --brawn: #DABC98;
    --grey: #EEEEEE;
    --lightgrey: #E5E5E5;
    --white: #FFFFFF;
    --orange: #FF9C7D;
    /*container sizes*/
    --container-width: 1330px;
    --container-space: 55px;
}

/*resets*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/*common styles*/
@font-face {
    font-family: 'Graphik LCG';
    src: url('GraphikLCG-Regular.eot');
    src: url('GraphikLCG-Regular.eot?#iefix') format('embedded-opentype'),
        url('GraphikLCG-Regular.woff2') format('woff2'),
        url('GraphikLCG-Regular.woff') format('woff'),
        url('GraphikLCG-Regular.ttf') format('truetype'),
        url('GraphikLCG-Regular.svg#GraphikLCG-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('GraphikLCG-Semibold.eot');
    src: url('GraphikLCG-Semibold.eot?#iefix') format('embedded-opentype'),
        url('GraphikLCG-Semibold.woff2') format('woff2'),
        url('GraphikLCG-Semibold.woff') format('woff'),
        url('GraphikLCG-Semibold.ttf') format('truetype'),
        url('GraphikLCG-Semibold.svg#GraphikLCG-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "GraphikLCG", sans-serif;
    font-style: normal;
}

.container {
    max-width: calc(var(--container-width) + var(--container-space) * 2);
    margin: 0 auto;
    width: 100%;
    padding: 0 var(--container-space);
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.flex-container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

/*typography*/
.txt {
    font-weight: 400;
    color: var(--black);
}

.txt-sm {
    font-size: var(--fs-sm);
    line-height: 25px;
    padding-top: 24px;
}

.txt-lg {
    font-size: var(--fs-lg);
    line-height: 25px;
}

.txt-ex {
    font-size: var(--fs-ex);
}

.txt-ex-sm {
    font-size: var(--fs-ex-sm);
}

.h1 {
    font-weight: 600;
    font-size: var(--fs-h1);
    color: var(--black);
}

.h2 {
    font-weight: 600;
    font-size: var(--fs-h2);
    line-height: 60px;
    color: var(--black);
}

.h3 {
    font-weight: 600;
    font-size: var(--fs-h3);
    line-height: 50px;
    color: var(--black);
}

.h4 {
    font-weight: 600;
    font-size: var(--fs-h4);
    line-height: 40px;
    color: var(--black);
}

.h5 {
    font-size: var(--fs-h5);
    color: var(--black);
}

.h6 {
    font-weight: 600;
    font-size: var(--fs-h6);
    line-height: 25px;
    color: var(--black);
    padding-bottom: 21px;
}

/*button*/
.btn {
    font-weight: 600;
    font-size: var(--fs-md);
    text-align: center;
    border: 1px solid transparent;
    display: inline-block;
    color: var(--black);
}

.br-grey {
    border-color: var(--grey);
}

.bgc-darkorange {
    background-color: var(--darkorange);
    color: var(--white);
}

.btn-txt-sm {
    padding: 5px 30px;
    line-height: 45px;
    border-color: var(--grey);
}

.btn-txt-md {
    padding: 5px 40px;
    line-height: 60px;
    border-color: var(--grey)
}

.btn-txt-lg {
    padding: 5px 50px;
    line-height: 60px;
}

.bgc-black {
    background-color: var(--black);
    color: var(--white);
    border-color: var(--black);
}

.link {
    font-weight: 600;
    font-size: var(--fs-ex);
    line-height: 30px;
    color: var(--black);
}

/*header*/
.header__container {
    padding: 31px 0 24px;
}

.header__nav-logo {
    gap: 30px;
}

.header__nav-logo-png {
    max-width: 130px;
    width: 100%;
}

.header__nav-login {
    gap: 10px;
}

.br-bottom-grey {
    border-bottom: 1px solid var(--grey);
}

.header__nav-link {
    font-weight: 400;
    font-size: var(--fs-sm);
    line-height: 20px;
    color: var(--black);
    padding-right: 30px;
}

/*main*/
/*section first*/
.section-first {
    background-color: var(--white);
}

.section-first__container {
    padding: 97px 0 137px;
}

.section-first__content {
    /*max-width: 552px;*/
    width: 40%;
}

.section-first__img {
    /* max-width: 759px;*/
    padding: 54px 0 45px;
}

.img-responsive {
    /*width: 100%;*/
    width: 60%;
}

.section-first__content__title {
    line-height: 70px;
    padding: 14px 0 51px;
}

.section-first__content__title-h5 {
    font-weight: 400;
    line-height: 35px;
    padding-bottom: 51px;
    max-width: 471px;
}

/*section second*/
.section-second {
    background-color: var(--orange);
}

.section-second__title {
    padding: 108px 0 70px;
    text-align: center;
    max-width: 720px;
}

.section-second__items {
    padding-bottom: 104px;
    gap: 80px;
    max-width: 1290px;
}

/*section third*/
.section-third__container {
    gap: 20px;
    padding: 90px 0 150px;
}

.section-third__content {
    /* max-width: 658px;*/
    width: 45%;
}

.section-third__img {
    max-width: 632px;

}

.section-third__title {
    /* max-width: 493px;*/
    padding-bottom: 30px;
}

.section-third__content__txt {
    padding-bottom: 30px;
    /* max-width: 491px;*/
    line-height: 30px;
}


/*section fourth*/
.section-fourth {
    background-color: var(--bisque);
}

.section-fourth__title {
    padding: 120px 0 58px;
}


.card-wrap {
    gap: 30px;
    flex-direction: row;
    padding-bottom: 93px;
}

.card-possibility {
    width: 330px;
    /*display: flex;*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*width: 100%;*/
    padding-bottom: 53px;
    text-align: center;
}

.card__title {
    font-weight: 600;
    line-height: 35px;
    padding-bottom: 23px;
}

.card {
    padding: 21px 0 21px;
}

/*section fifth*/
.section-fifth__title {
    padding: 154px 0 25px;
}

.h4-txt {
    padding-bottom: 34px;
}

.card-team-wrap {
    gap: 5px;
    padding-bottom: 217px;

}

.card-team {
    /* max-width: 440px;
    width: 100%;*/
    width: 33%;
    flex-direction: column;
    display: flex;
    padding-right: 30px;
}

.card-team__img {
    max-width: 179px;
    width: 100%;
    padding: 50px 0 49px;
}

.card-team__txt {
    font-weight: 400;
    font-size: var(--fs-ex);
    line-height: 30px;
    color: var(--black);
    padding-bottom: 25px;
}

.link-decor {
    text-decoration: underline;
}

/*section sixth*/
.section-sixth {
    background-color: var(--lightblu);
}

.section-sixth__container {
    padding: 53px 0 105px;
}

.section-sixth__content {
    /*max-width: 895px;*/
    width: 70%;
}

.section-sixth__img {
    max-width: 310px;
}

.section-sixth__content__txt {
    font-size: var(--fs-ex-lg);
    line-height: 40px;
}

.section-sixth__logo {
    max-width: 115px;
    padding-top: 14px;
    padding-bottom: 14px;
}

/*section seventh*/
.section-seventh {
    background-color: var(--brawn);
}

.section-seventh__container {
    padding: 70px 0 84px;
    gap: 15px;
}

.section-seventh__img {
    max-width: 176px;
    width: 100%;
}

.section-seventh__title {
    max-width: 461px;
}

.section-seventh__content {
    gap: 67px;
    max-width: 809px;
}

.section-seventh__logo-first {
    max-width: 128px;
}

.section-seventh__logo-second {
    max-width: 150px;
}

.section-seventh__logo {
    gap: 70px;
    border-left: 1px solid var(--black);
    padding: 0 61px 0 71px;
}


/*section eighth*/
.section-eighth__container {
    padding-bottom: 162px;
}

.section-eighth__title {
    max-width: 791px;
    text-align: center;
    padding-top: 165px;
}

.section-eighth__title-h5 {
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    max-width: 539px;
}

.section-eighth__img {
    max-width: 1023px;
    width: 100%;
    padding: 25px 0 32px;
}

/*section ninth*/
.section-ninth {
    background-color: var(--orange);
}

.section-ninth__container {
    padding: 119px 0 161px;
}

.section-ninth__title {
    max-width: 784px;
    text-align: center;
    padding-bottom: 29px;
}

.section-ninth__txt {
    padding-bottom: 54px;
}

/*footer*/
/*main*/
.footer {
    background-color: var(--grey);
}

.footer-main__container {
    padding-top: 92px;
    border-bottom: 1px solid black;
    gap: 5px;
    align-items: flex-start;
}

.footer-main__content {
    display: flex;
    flex-direction: column;
    /*max-width: 370px;*/
    width: 30%;
}

.footer-main__img {
    /*max-width: 300px;*/
    /* width: 100%;*/
    padding: 28px 0 38px;
}

.footer-main__logo {
    max-width: 80px;
    width: 100%;
    padding-bottom: 24px;
}

.footer-main__content__link {
    padding: 15px 0 95px;
}

.footer-main__nav__links {
    display: flex;
    flex-direction: column;
}

.footer-main__nav__link {
    font-weight: 400;
    font-size: var(--fs-sm);
    line-height: 15px;
    color: var(--black);
    padding-bottom: 15px;
}

/*bottom*/
.footer-bottom__container {
    padding: 47px 0 48px;
    gap: 10px;
}

.footer-bottom__logo {
    max-width: 89px;
    padding-right: 5px;
}

.footer-bottom__content-txt {
    max-width: 301px;
}

.footer-bottom__content {
    gap: 10px;
}


@media all and (max-width: 1200px) {
    .col-lg-1 {
        flex: 0 0 auto;
        width: 8.3333333333%;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-lg-2 {
        flex: 0 0 auto;
        width: 16.6666666667%;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-lg-3 {
        flex: 0 0 auto;
        width: 25%;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-lg-4 {
        flex: 0 0 auto;
        width: 33.3333333333%;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-lg-5 {
        flex: 0 0 auto;
        width: 41.6666666667%;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-lg-7 {
        flex: 0 0 auto;
        width: 58.3333333333%;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-lg-8 {
        flex: 0 0 auto;
        width: 66.6666666667%;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-lg-9 {
        flex: 0 0 auto;
        width: 75%;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-lg-10 {
        flex: 0 0 auto;
        width: 83.3333333333%;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-lg-11 {
        flex: 0 0 auto;
        width: 91.6666666667%;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-lg-12 {
        flex: 0 0 auto;
        width: 100%;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .header__nav-logo {
        gap: 10px;
    }

    .header__nav-link {
        padding-right: 10px;
    }

    .header__nav-login {
        margin: 0 auto;
        ;
    }

    .section-first__container {
        text-align: center;
        padding: 60px 0 100px;
    }

    .section-first__content__title-h5 {
        margin: 0 auto;
    }

    .section-second__items {
        justify-content: space-around;
        padding-bottom: 70px;
        gap: 60px;
    }

    .section-second__title {
        padding: 70px 0 50px;
    }

    .section-third__img {
        margin: 0 auto;
    }

    .section-third__container {
        padding: 60px 0 60px;
    }

    .reverse {
        flex-direction: column-reverse;
    }

    .section-fourth__title {
        text-align: center;
        padding: 80px 0 40px;
    }

    .card-possibility {
        padding-bottom: 20px;
    }

    .card-wrap {
        padding-bottom: 60px;
    }

    .section-fifth__title {
        padding-top: 90px;
        text-align: center;
    }

    .card-team-wrap {
        padding-bottom: 100px;
    }

    .card-team {
        align-items: center;
    }

    .section-sixth__container {
        padding: 35px 0 70px;
    }

    .section-seventh__content {
        gap: 30px;
        margin: 0 auto;
        ;
    }

    .section-seventh__logo {
        margin: 0 auto;
    }

    .section-eighth__title {
        padding-top: 60px;
    }

    .section-eighth__container {
        padding-bottom: 70px;
    }

    .section-ninth__container {
        padding: 60px 0 70px;
    }

    .footer-main__container {
        padding-top: 40px;
    }

    .footer-main__content__link {
        padding-bottom: 60px;
    }
}

@media all and (max-width: 768px) {
    .col-md-1 {
        flex: 0 0 auto;
        width: 8.3333333333%;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-md-2 {
        flex: 0 0 auto;
        width: 16.6666666667%;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-md-3 {
        flex: 0 0 auto;
        width: 25%;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-md-4 {
        flex: 0 0 auto;
        width: 33.3333333333%;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-md-5 {
        flex: 0 0 auto;
        width: 41.6666666667%;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-md-7 {
        flex: 0 0 auto;
        width: 58.3333333333%;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-md-8 {
        flex: 0 0 auto;
        width: 66.6666666667%;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-md-9 {
        flex: 0 0 auto;
        width: 75%;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-md-10 {
        flex: 0 0 auto;
        width: 83.3333333333%;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-md-11 {
        flex: 0 0 auto;
        width: 91.6666666667%;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-md-12 {
        flex: 0 0 auto;
        width: 100%;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .header__nav-login {
        margin: 0 auto;
        ;
    }

    .section-first__container {
        padding: 30px 0 50px;
    }

    .section-second__title {
        padding: 25px 0 25px;
    }

    .section-second__items {
        padding-bottom: 35px;
        justify-content: space-around;
        gap: 30px;
    }

    .section-third__container {
        padding: 45px 0;
    }

    .section-fourth__title {
        padding: 40px 0 20px;
    }

    .card-possibility {
        padding-bottom: 15px;
    }

    .card-wrap {
        padding-bottom: 40px;
    }

    .section-fifth__title {
        padding-top: 60px;
    }

    .card-team-wrap {
        padding-bottom: 70px;
    }

    .card-team {
        align-items: center;
    }

    .section-sixth__container {
        padding: 20px 0 50px;
    }

    .section-seventh__content {
        gap: 15px;
        justify-content: center;
    }

    .section-seventh__logo {
        margin: 0 auto;
    }

    .section-seventh__container {
        padding: 30px 0 40px;
    }

    .section-eighth__title {
        padding-top: 30px;
    }

    .section-eighth__container {
        padding-bottom: 50px;
    }

    .section-ninth__container {
        padding: 40px 0 50px;
    }

    .footer-main__content {
        width: 100%;
    }

    .footer-main__container {
        padding-top: 30px;
    }

    .footer-main__content__link {
        padding-bottom: 40px;
    }
}

@media all and (max-width: 576px) {
    .col-sm-1 {
        flex: 0 0 auto;
        width: 8.3333333333%;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-sm-2 {
        flex: 0 0 auto;
        width: 16.6666666667%;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-sm-3 {
        flex: 0 0 auto;
        width: 25%;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-sm-4 {
        flex: 0 0 auto;
        width: 33.3333333333%;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-sm-5 {
        flex: 0 0 auto;
        width: 41.6666666667%;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-sm-6 {
        flex: 0 0 auto;
        width: 50%;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-sm-7 {
        flex: 0 0 auto;
        width: 58.3333333333%;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-sm-8 {
        flex: 0 0 auto;
        width: 66.6666666667%;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-sm-9 {
        flex: 0 0 auto;
        width: 75%;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-sm-10 {
        flex: 0 0 auto;
        width: 83.3333333333%;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-sm-11 {
        flex: 0 0 auto;
        width: 91.6666666667%;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-sm-12 {
        flex: 0 0 auto;
        width: 100%;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .header__container {
        padding: 20px 0 15px;
    }

    .header__nav-login {
        margin: 0 auto;
        ;
    }

    .header__nav-logo {
        justify-content: center;
    }

    .section-first__container {
        padding: 15px 0 25px
    }

    .btn-bottom {
        margin-bottom: 5px;
    }

    .section-first__content__title {
        line-height: 55px;
        padding: 13px 0 40px;
        font-size: 55px;
    }

    .section-second__title {
        font-size: 45px;
        line-height: 45px;
    }

    .section-second__items {
        justify-content: space-around;
        gap: 20px;
    }

    .section-third__title {
        font-size: 45px;
        line-height: 45px;
    }

    .section-third__container {
        padding: 30px 0;
    }

    .section-fourth__title {
        padding: 20px 0 15px;
        font-size: 45px;
        line-height: 45px;
    }

    .card-wrap {
        padding-bottom: 20px;
    }

    .card-possibility {
        padding-bottom: 10px;
    }

    .section-fifth__title {
        padding-top: 30px;
        font-size: 45px;
        line-height: 45px;
    }

    .card-team-wrap {
        padding-bottom: 35px;
    }

    .card-team {
        align-items: center;
    }

    .card-team__img {
        padding: 25px 0 25px;
    }

    .section-sixth__container {
        padding: 15px 0 35px;
    }

    .section-seventh__content {
        gap: 10px;
        text-align: center;
    }

    .section-seventh__logo {
        justify-content: space-around;
    }

    .section-seventh__logo {
        gap: 30px;
        padding: 0 30px 0 66px;
        border-left: none;
        border-top: 1px solid var(--black);
        padding-top: 20px;
    }

    .section-seventh__container {
        padding: 15px 0 20px;
    }

    .section-eighth__title {
        padding: 15px 0 15px;
        line-height: 50px;
        font-size: 50px;
    }

    .btn-txt-lg {
        padding: 5px 30px;
    }

    .section-eighth__container {
        padding-bottom: 30px;
    }

    .section-ninth__title {
        font-size: 50px;
        padding-bottom: 25px;
        line-height: 50px;
    }

    .section-ninth__txt {
        padding-bottom: 25px;
    }

    .footer-main__img {
        padding: 15px 0 20px;
    }

    .footer-main__content__link {
        padding-bottom: 20px;
    }

    .footer-bottom__container {
        padding: 34px 0 35px;
    }
}